main{
    position: relative;
}
#shuttle{
    position: absolute;
    top: 85vh;
    left: 50%;
}
#laser img{
    margin: 0;
    padding: 0;
}
#laser{
    position: absolute;
    left:51.5%;
    top: 80vh;
  }
.show{
    display: none;
}
.animation{
    display: inline;
    animation-duration: 1s;
    animation-name: block;  
} 
@keyframes block {
    from {
      top: 70vh;
    }
  
    to {
      top: -20vh;
      
    }
  }

